apiVersion: v1
kind: Service
metadata:
  name: dqn-scaler
  labels:
    app: dqn-scaler
spec:
  type: ClusterIP
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
      name: http
  selector:
    app: dqn-scaler
